body {
    font-family: Helvetica;
    background: url('../imgs/battlefield-3-wind-energy.jpg') no-repeat;
    background-size: auto;
    background-attachment: fixed
}

.data {
    animation: fade 2s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
}