body {
    font-family: Helvetica;
    background: url('../imgs/battlefield-3-wind-energy.jpg') no-repeat;
    background-size: auto;
    background-attachment: fixed
}

.m-devider {
    display: none !important;
}

.data {
    animation: fade 2s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
}

@media screen and (max-width: 360px) and (min-width: 340px) {
    .map {
        width: 330px;
        height: 330px;
    }
    .details {
        width: 100% !important;
    }
    .m-devider {
        visibility: visible;
        clear: both;
    }
}
